html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 530px;
  padding: 30px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control:focus {
  border-color: whitesmoke;
  border-style: hidden;
  -webkit-box-shadow: none;
  /* box-shadow: red; */
}

/* .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

.input-group {
  height: 48px;
  max-width: 530px;
}

.input-group .input-group-text {
  border-radius: 24px;
  background-color: lightgray;
}

.input-group .form-control {
  border-radius: 24px;
  background-color: lightgray;
  border-left: 0px;
  /* border-color: lightgray; */
}

.form-signin button {
  max-width: 100px;
  margin: 40px;
}

.spinner-border {
  margin-top: 30px;
}

.answer {
  /* width: 460px; */
  max-width: 530px;
  /* width: 530px; */
  padding: 20px;
  margin-top: 30px;
  border-radius: 24px;
  background-color: white;
  border-color: lightgray;
  text-align: left;
  /* visibility: hidden; */
}

.answer .question {
  font-size: large;
  font-weight: 500;
  padding-bottom: 20px;
}

.ad {
  margin-top: 20px;
}

h1 {
  font-weight: 700;
  text-align: left;
  margin-bottom: 12px;
}