html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 550px;
  padding: 30px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-control:focus {
  border-color: whitesmoke;
  border-style: hidden;
}

/* .form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
} */

.input-group {
  height: 48px;
  max-width: 550px;
}

.input-group .input-group-text {
  border-radius: 24px;
  background-color: lightgray;
}

.input-group .form-control {
  border-radius: 24px;
  background-color: lightgray;
  border-left: 0px;
  /* border-color: lightgray; */
}

.form-signin button {
  max-width: 100px;
  margin: 40px;
}

.spinner-border {
  margin-top: 30px;
}

.answer {
  max-width: 550px;
  padding: 20px;
  margin-top: 30px;
  border-radius: 24px;
  background-color: white;
  border-color: lightgray;
  text-align: left;
  /* visibility: hidden; */
}

.answer .question {
  font-size: large;
  font-weight: 500;
  padding-bottom: 20px;
}

.ad {
  margin-top: 20px;
}

h1 {
  font-weight: 700;
  text-align: left;
  margin-bottom: 12px;
}

.form-feedback {
  margin-top: 20px;
}

/* Menu */

ul {
  padding-bottom: 8px;
  border-bottom: 4px solid lightgray;
  margin-left: 0px;
  margin-right: 0px;
}

.nav-pills {
  margin-top: 20px;
  margin-bottom: 20px;
}

.nav-item {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 13pt;
  font-weight: 700;
}

.nav-item span {
  /* color: rgb(73, 100, 100); */
  color: black;
  text-decoration: none;
  background-color: whitesmoke;
  padding-left: 6px;
  padding-right: 3px;
  padding-bottom: 9px;
  font-weight: 700;
}

/* .nav-item a:hover {
  color: black;
  /* border-bottom: 3px solid #007bff; */
  /* border-bottom: 4px solid black; */
} */

.nav-item .active {
  color: black;
  /* border-bottom: 4px solid black; */
  /* border-bottom: 3px solid #007bff; */
}

/* Accordion */
.accordion {
  font-size: 12pt;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}

.accordion .accordion-button {
  color: black;
  font-size: 12pt;
  text-decoration: none;
}

.accordion-header {
  font-weight: 600;
}

/* Style the header */
.header {
  /* padding: 10px 16px; */
  background: whitesmoke;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* .header {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
} */

/* Page content */
.content {
  padding: 16px;
}

/* .sticky {
  position: sticky;
  top: 0;
} */

/* Add some top padding to the page content to prevent sudden quick movement */
.sticky + .content {
  padding-top: 302px;
}

.accordion-content {
  position: absolute;
  z-index: -1;
}

/* share modal */

.modal {
  background-image: linear-gradient(rgb(35, 79, 71) 0%, rgb(36, 121, 106) 100.2%)
}

.modal-title {
  font-weight: 900;
}

.modal-content{
   border-radius: 13px;
}

.modal-body {
  color: #3b3b3b;
}

.img-thumbnail {
  border-radius: 33px;
  width: 61px;
  height: 61px;
}

.fab:before {
  position: relative;
  top: 13px;
}

.smd {
  width: 200px;
  font-size: small;
  text-align: center;
}

.modal-footer {
  display: block;
}

.ur {
  border: none;
  background-color: #e6e2e2;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.cpy {
  border: none;
  background-color: #e6e2e2;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
}

.shareButton {
  color: royalblue;
  border: none;
  background-color: white;
  padding: 0px;
}

.shareButton:hover {
  color: blue;
  border: none;
  background-color: white;
  padding: 0px;
}

.shareDiv {
  align-items: center;
  margin: -40px;
}

.shareDiv img {
  width: 24px;
  height: 24px;
  color: blue;
  accent-color: blue;
  margin-right: -36px;
  filter: opacity(0.5) drop-shadow(0 0 0 blue);
}

/* .shareDiv {
  background-color: red;
} */

button.focus,
button:focus {
  outline: 0;
  box-shadow: none !important;

}

.ur.focus,
.ur:focus {
  outline: 0;
  box-shadow: none !important;
}

.message{
      font-size: 11px;
color: #ee5535;
}

